<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://qo-op.github.io/simpa/simpa.css" />
  </head>
  <body>
    <!-- Container with Vertical BoxLayout -->
    <!-- data-alignment-x="stretch" -->
    <div
      class="BoxLayout"
      data-axis="page-axis"
      data-alignment-x="stretch"
      style="height: 150px; background-color: LightGray"
    >
      <button>First</button>
      <button>Second</button>
      <button>Third</button>
      <button>Fourth</button>
    </div>
  </body>
</html>
