<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://qo-op.github.io/simpa/simpa.css" />
    <script>
      function handleChange(ev) {
        const comboBox = ev.currentTarget;
        const value = comboBox.value;
        const container = document.getElementById("container");
        const cards = container.children;
        for (let i = 0; i < cards.length; i++) {
          const card = container.children[i];
          if (card.dataset.name === value) {
            card.style.visibility = "inherit";
          } else {
            card.style.visibility = "hidden";
          }
        }
      }
    </script>
  </head>
  <body>
    <div class="CenterLayout">
      <div
        class="BorderLayout"
        style="border: 1px solid Gray; height: 100px; padding: 10px"
      >
        <div class="PageStart" style="margin: 0 0 10px 0">
          <!-- Combo Box -->
          <select onchange="handleChange(event);">
            <option value="Card 1" selected>1st Card</option>
            <option value="Card 2">2nd Card</option>
            <option value="Card 3">3rd Card</option>
          </select>
        </div>
        <!-- Card Container -->
        <div class="CardLayout" id="container">
          <button data-name="Card 1" style="visibility: inherit">
            First Button
          </button>
          <button data-name="Card 2" style="visibility: hidden">
            Second Button
          </button>
          <button data-name="Card 3" style="visibility: hidden">
            Third Button
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
