<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://qo-op.github.io/simpa/simpa.css" />
  </head>
  <body>
    <!-- Container with FlowLayout -->
    <!-- data-alignment="leading" -->
    <div
      class="FlowLayout"
      data-alignment="leading"
      style="row-gap: 20px; column-gap: 40px; height: 100px"
    >
      <button>Button 1</button>
      <button>Button 2</button>
      <button>Button 3</button>
      <button>Button 4</button>
      <button>Button 5</button>
      <button>Button 6</button>
      <button>Button 7</button>
      <button>Button 8</button>
      <button>Button 9</button>
    </div>
  </body>
</html>
