/**
 * Simpa.css
 * CSS definitions for Single-Page Applications
 *
 * @author Yassuo Toda
 */

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

/**
 * Border layout
 */

.border-layout {
    display: grid !important;
    grid-template-rows: auto minmax(0, 1fr) auto !important;
    grid-template-columns: auto minmax(0, 1fr) auto !important;
    align-items: stretch !important;
    justify-items: stretch !important;
}

.border-layout>* {
    grid-row: 2 !important;
    grid-column: 2 !important;
}

.border-layout>.page-start {
    grid-row: 1 !important;
    grid-column: 1 / -1 !important;
}

.border-layout>.page-end {
    grid-row: 3 !important;
    grid-column: 1 / -1 !important;
}

.border-layout>.line-start {
    grid-row: 2 !important;
    grid-column: 1 !important;
}

.border-layout>.line-end {
    grid-row: 2 !important;
    grid-column: 3 !important;
}

.border-layout>.center {
    grid-row: 2 !important;
    grid-column: 2 !important;
}

.page-start-border-layout {
    display: grid !important;
    grid-template-rows: auto minmax(0, 1fr) !important;
    grid-template-columns: minmax(0, 1fr) !important;
}

.page-start-border-layout>* {
    grid-column: 1 !important;
}

.page-start-border-layout>:first-child {
    order: 1 !important;
}

.page-start-border-layout>:last-child {
    order: 2 !important;
}

.page-start-border-layout>.page-start {
    order: 0 !important;
}

.page-start-border-layout>.center {
    order: 3 !important;
}

.page-end-border-layout {
    display: grid !important;
    grid-template-rows: minmax(0, 1fr) auto !important;
    grid-template-columns: minmax(0, 1fr) !important;
}

.page-end-border-layout>* {
    grid-column: 1 !important;
}

.page-end-border-layout>:last-child {
    order: 2 !important;
}

.page-end-border-layout>:first-child {
    order: 1 !important;
}

.page-end-border-layout>.page-end {
    order: 3 !important;
}

.page-end-border-layout>.center {
    order: 0 !important;
}

.line-start-border-layout {
    display: grid !important;
    grid-template-rows: minmax(0, 1fr) !important;
    grid-template-columns: auto minmax(0, 1fr) !important;
}

.line-start-border-layout>* {
    grid-row: 1 !important;
}

.line-start-border-layout>:first-child {
    order: 1 !important;
}

.line-start-border-layout>:last-child {
    order: 2 !important;
}

.line-start-border-layout>.line-start {
    order: 0 !important;
}

.line-start-border-layout>.center {
    order: 3 !important;
}

.line-end-border-layout {
    display: grid !important;
    grid-template-rows: minmax(0, 1fr) !important;
    grid-template-columns: minmax(0, 1fr) auto !important;
}

.line-end-border-layout>* {
    grid-row: 1 !important;
}

.line-end-border-layout>:last-child {
    order: 2 !important;
}

.line-end-border-layout>:first-child {
    order: 1 !important;
}

.line-end-border-layout>.line-end {
    order: 3 !important;
}

.line-end-border-layout>.center {
    order: 0 !important;
}

.page-border-layout {
    display: grid !important;
    grid-template-rows: auto minmax(0, 1fr) auto !important;
    grid-template-columns: minmax(0, 1fr) !important;
}

.page-border-layout>* {
    grid-column: 1 !important;
}

.page-border-layout>:last-child {
    order: 3 !important;
}

.page-border-layout>:first-child {
    order: 1 !important;
}

.page-border-layout>:nth-child(2) {
    order: 2 !important;
}

.page-border-layout>.page-end {
    order: 4 !important;
}

.page-border-layout>.page-start {
    order: 0 !important;
}

.page-border-layout>.center {
    order: 2 !important;
}

.line-border-layout {
    display: grid !important;
    grid-template-rows: minmax(0, 1fr) !important;
    grid-template-columns: auto minmax(0, 1fr) auto !important;
}

.line-border-layout>* {
    grid-row: 1 !important;
}

.line-border-layout>:last-child {
    order: 3 !important;
}

.line-border-layout>:first-child {
    order: 1 !important;
}

.line-border-layout>:nth-child(2) {
    order: 2 !important;
}

.line-border-layout>.line-end {
    order: 4 !important;
}

.line-border-layout>.line-start {
    order: 0 !important;
}

.line-border-layout>.center {
    order: 2 !important;
}

/**
 * Box layout
 */

.box-layout,
.line-axis-box-layout {
    display: grid !important;
    justify-content: start !important;
    align-items: center;
}

.stretch-box-layout,
.line-axis-stretch-box-layout {
    display: grid !important;
    justify-content: start !important;
    align-items: stretch;
}

.page-axis-box-layout {
    display: grid !important;
    align-content: start !important;
    justify-items: center;
}

.page-axis-stretch-box-layout {
    display: grid !important;
    align-content: start !important;
    justify-items: stretch;
}

.box-layout>*,
.line-axis-box-layout>*,
.stretch-box-layout>*,
.line-axis-stretch-box-layout>* {
    grid-row: 1 !important;
}

.page-axis-box-layout>*,
.page-axis-stretch-box-layout>* {
    grid-column: 1 !important;
}

/**
 * Card layout
 */

.card-layout,
.card-container {
    display: grid !important;
    grid-template-rows: minmax(0, 1fr) !important;
    grid-template-columns: minmax(0, 1fr) !important;
    align-items: stretch !important;
    justify-items: stretch !important;
}

.card-layout>*,
.card-container>* {
    grid-row: 1 !important;
    grid-column: 1 !important;
}

.card-layout>.card-component,
.card-container>.card-component {
    visibility: hidden !important;
}

.card-layout>.card-component.visible,
.card-container>.card-component.visible {
    visibility: visible !important;
}

/**
 * Flow layout
 */

.flow-layout,
.leading-flow-layout,
.trailing-flow-layout {
    display: flex !important;
    flex-wrap: wrap !important;
    align-content: start !important;
    justify-content: center !important;
    align-items: center;
    gap: 5px;
}

.leading-flow-layout {
    justify-content: start !important;
}

.trailing-flow-layout {
    justify-content: end !important;
}

/**
 * Grid layout
 */

.grid-layout {
    display: grid !important;
    align-content: center;
    justify-content: center;
}

.page-start-anchor {
    display: grid !important;
    align-content: start !important;
    justify-content: center !important;
}

.page-end-anchor {
    display: grid !important;
    align-content: end !important;
    justify-content: center !important;
}

.line-start-anchor {
    display: grid !important;
    align-content: center !important;
    justify-content: start !important;
}

.line-end-anchor {
    display: grid !important;
    align-content: center !important;
    justify-content: end !important;
}

.first-line-start-anchor {
    display: grid !important;
    align-content: start !important;
    justify-content: start !important;
}

.first-line-end-anchor {
    display: grid !important;
    align-content: start !important;
    justify-content: end !important;
}

.last-line-start-anchor {
    display: grid !important;
    align-content: end !important;
    justify-content: start !important;
}

.last-line-end-anchor {
    display: grid !important;
    align-content: end !important;
    justify-content: end !important;
}

.center-anchor {
    display: grid !important;
    align-content: center !important;
    justify-content: center !important;
}

.horizontal-fill {
    display: grid !important;
    justify-content: stretch !important;
}

.vertical-fill {
    display: grid !important;
    align-content: stretch !important;
}

.both-fill {
    display: grid !important;
    align-content: stretch !important;
    justify-content: stretch !important;
}

/**
 * Button
 */
.button {
    border: none;
    padding-block: 0;
    padding-inline: 5px;
    background-color: transparent;
    cursor: pointer;
}

.button:hover {
    background-color: lightgray;
}

/**
 * Glass pane
 */

.glass-pane {
    position: fixed !important;
    inset-block-start: 0 !important;
    inset-inline-start: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

/**
 * Image
 */

img,
.material-icons {
    display: block;
    width: 1rem;
    font-size: 1rem;
    -webkit-user-drag: none;
    user-select: none;
}

/**
 * Menu bar
 */

.menu-bar {
    user-select: none !important;
}

.menu-bar,
.menu-bar ul {
    list-style-type: none !important;
    white-space: nowrap !important;
    margin: 0;
    padding: 0;
}

.menu-bar .menu-item,
.menu-bar .menu {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr auto;
    gap: 5px;
    align-items: center;
}

.menu-bar li {
    position: relative !important;
}

.menu-bar ul {
    position: absolute !important;
    display: none !important;
    z-index: 300;
}

.menu-bar.open li.selected>ul {
    display: block !important;
}

.menu-bar li>* {
    padding-inline: 5px;
}

.menu-bar li>ul {
    inset-inline-start: calc(100% - 5px);
    inset-block-start: -5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
    background-color: whitesmoke;
    padding-block: 5px;
    padding-inline: 0;
}

.menu-bar li>:not(ul) {
    cursor: pointer;
}

.menu-bar li.separator {
    padding-block: 5px;
}

.menu-bar hr {
    margin: 0;
    padding: 0;
}

.menu-bar .menu-item-icon {
    display: block;
    font-size: 1rem;
    width: 1rem;
}

.menu-bar input {
    pointer-events: none !important;
    width: 12px;
    margin: 0px;
    margin-inline: calc(.5rem - 5px);
}

.menu-bar [data-shortcut] {
    display: grid !important;
    grid-template-columns: 1fr auto !important;
    column-gap: 20px;
}

.menu-bar>li {
    display: grid;
}

.menu-bar>li>* {
    grid-column: 1;
}

.menu-bar>li>.menu {
    grid-template-columns: 1fr;
    align-items: center;
}

.menu-bar>li>ul {
    inset-block-start: 100%;
    inset-inline-start: auto;
}

.menu-bar li:not(.separator):hover,
.menu-bar:not(:hover) li.selected {
    background-color: rgba(128, 128, 128, .25);
}

.menu-bar .border-layout,
.menu .border-layout,
.menu-item .border-layout {
    grid-template-rows: auto 1fr auto !important;
    grid-template-columns: auto 1fr auto !important;
}

.menu-bar .page-start-border-layout,
.menu .page-start-border-layout,
.menu-item .page-start-border-layout {
    grid-template-rows: auto 1fr !important;
    grid-template-columns: 1fr !important;
}

.menu-bar .page-end-border-layout,
.menu .page-end-border-layout,
.menu-item .page-end-border-layout {
    grid-template-rows: 1fr auto !important;
    grid-template-columns: 1fr !important;
}

.menu-bar .line-start-border-layout,
.menu .line-start-border-layout,
.menu-item .line-start-border-layout {
    grid-template-rows: 1fr !important;
    grid-template-columns: auto 1fr !important;
}

.menu-bar .line-end-border-layout,
.menu .line-end-border-layout,
.menu-item .line-end-border-layout {
    grid-template-rows: 1fr !important;
    grid-template-columns: 1fr auto !important;
}

.menu-bar .page-border-layout,
.menu .page-border-layout,
.menu-item .page-border-layout {
    grid-template-rows: auto 1fr auto !important;
    grid-template-columns: 1fr !important;
}

.menu-bar .line-border-layout,
.menu .line-border-layout,
.menu-item .line-border-layout {
    grid-template-rows: 1fr !important;
    grid-template-columns: auto 1fr auto !important;
}

/**
 * Scroll pane
 */

.scroll-pane {
    overflow: overlay !important;
}

.horizontal-scroll-pane {
    overflow: overlay hidden !important;
}

.vertical-scroll-pane {
    overflow: hidden overlay !important;
}

.scroll-pane .row-header,
.horizontal-scroll-pane .row-header,
.vertical-scroll-pane .row-header {
    position: sticky !important;
    inset-inline-start: 0 !important;
}

.scroll-pane .column-header,
.horizontal-scroll-pane .column-header,
.vertical-scroll-pane .column-header {
    position: sticky !important;
    inset-block-start: 0 !important;
}

.scroll-pane::-webkit-scrollbar,
.horizontal-scroll-pane::-webkit-scrollbar,
.vertical-scroll-pane::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}

/* always visible */
.scroll-pane::-webkit-scrollbar-thumb,
.horizontal-scroll-pane::-webkit-scrollbar-thumb,
.vertical-scroll-pane::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, .25);
}

/* only visible on hover
.scroll-pane:hover::-webkit-scrollbar-thumb,
.horizontal-scroll-pane:hover::-webkit-scrollbar-thumb,
.vertical-scroll-pane:hover::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, .25);
}
*/

.scroll-pane::-webkit-scrollbar-corner,
.horizontal-scroll-pane::-webkit-scrollbar-corner,
.vertical-scroll-pane::-webkit-scrollbar-corner {
    background-color: transparent;
}

/**
 * Split pane
 */

.split-pane,
.horizontal-split-pane,
.line-start-split-pane {
    display: grid !important;
    grid-template-rows: minmax(0, 1fr) !important;
    grid-template-columns: auto auto minmax(0, 1fr) !important;
    align-items: stretch !important;
    justify-items: stretch !important;
}

.line-end-split-pane {
    display: grid !important;
    grid-template-rows: minmax(0, 1fr) !important;
    grid-template-columns: minmax(0, 1fr) auto auto !important;
    align-items: stretch !important;
    justify-items: stretch !important;
}

.vertical-split-pane,
.page-start-split-pane {
    display: grid !important;
    grid-template-columns: minmax(0, 1fr) !important;
    grid-template-rows: auto auto minmax(0, 1fr) !important;
    align-items: stretch !important;
    justify-items: stretch !important;
}

.page-end-split-pane {
    display: grid !important;
    grid-template-columns: minmax(0, 1fr) !important;
    grid-template-rows: minmax(0, 1fr) auto auto !important;
    align-items: stretch !important;
    justify-items: stretch !important;
}

.split-pane>*,
.horizontal-split-pane>*,
.line-start-split-pane>*,
.line-end-split-pane>*,
.vertical-split-pane>*,
.page-start-split-pane>*,
.page-end-split-pane>* {
    padding: 0 !important;
}

.split-pane>:nth-child(2),
.horizontal-split-pane>:nth-child(2),
.line-start-split-pane>:nth-child(2),
.line-end-split-pane>:nth-child(2) {
    cursor: ew-resize;
}

.vertical-split-pane>:nth-child(2),
.page-start-split-pane>:nth-child(2),
.page-end-split-pane>:nth-child(2) {
    cursor: ns-resize;
}

/**
 * Tabbed pane
 */

.tabbed-pane,
.wrap-tabbed-pane,
.scroll-tabbed-pane,
.page-start-tabbed-pane,
.page-start-wrap-tabbed-pane,
.page-start-scroll-tabbed-pane {
    display: grid !important;
    grid-template-rows: auto minmax(0, 1fr) !important;
    grid-template-columns: minmax(0, 1fr) auto !important;
}

.tabbed-pane>.tab-container,
.wrap-tabbed-pane>.tab-container,
.scroll-tabbed-pane>.tab-container,
.page-start-tabbed-pane>.tab-container,
.page-start-wrap-tabbed-pane>.tab-container,
.page-start-scroll-tabbed-pane>.tab-container {
    grid-row: 1 !important;
    grid-column: 1 !important;
}

.tabbed-pane>.button-container,
.wrap-tabbed-pane>.button-container,
.scroll-tabbed-pane>.button-container,
.page-start-tabbed-pane>.button-container,
.page-start-wrap-tabbed-pane>.button-container,
.page-start-scroll-tabbed-pane>.button-container {
    grid-row: 1 !important;
    grid-column: 2 !important;
}

.tabbed-pane>.card-container,
.wrap-tabbed-pane>.card-container,
.scroll-tabbed-pane>.card-container,
.page-start-tabbed-pane>.card-container,
.page-start-wrap-tabbed-pane>.card-container,
.page-start-scroll-tabbed-pane>.card-container {
    grid-row: 2 !important;
    grid-column: 1 / -1 !important;
}

.page-end-tabbed-pane,
.page-end-wrap-tabbed-pane,
.page-end-scroll-tabbed-pane {
    display: grid !important;
    grid-template-rows: minmax(0, 1fr) auto !important;
    grid-template-columns: minmax(0, 1fr) auto !important;
}

.page-end-tabbed-pane>.tab-container,
.page-end-wrap-tabbed-pane>.tab-container,
.page-end-scroll-tabbed-pane>.tab-container {
    grid-row: 2 !important;
    grid-column: 1 !important;
}

.page-end-tabbed-pane>.button-container,
.page-end-wrap-tabbed-pane>.button-container,
.page-end-scroll-tabbed-pane>.button-container {
    grid-row: 2 !important;
    grid-column: 2 !important;
}

.page-end-tabbed-pane>.card-container,
.page-end-wrap-tabbed-pane>.card-container,
.page-end-scroll-tabbed-pane>.card-container {
    grid-row: 1 !important;
    grid-column: 1 / -1 !important;
}

.line-start-tabbed-pane,
.line-start-wrap-tabbed-pane,
.line-start-scroll-tabbed-pane {
    display: grid !important;
    grid-template-rows: auto minmax(0, 1fr) !important;
    grid-template-columns: auto minmax(0, 1fr) !important;
}

.line-start-tabbed-pane>.button-container,
.line-start-wrap-tabbed-pane>.button-container,
.line-start-scroll-tabbed-pane>.button-container {
    grid-row: 1 !important;
    grid-column: 1 !important;
}

.line-start-tabbed-pane>.tab-container,
.line-start-wrap-tabbed-pane>.tab-container,
.line-start-scroll-tabbed-pane>.tab-container {
    grid-row: 2 !important;
    grid-column: 1 !important;
}

.line-start-tabbed-pane>.card-container,
.line-start-wrap-tabbed-pane>.card-container,
.line-start-scroll-tabbed-pane>.card-container {
    grid-row: 1 / -1 !important;
    grid-column: 2 !important;
}

.line-end-tabbed-pane,
.line-end-wrap-tabbed-pane,
.line-end-scroll-tabbed-pane {
    display: grid !important;
    grid-template-rows: auto minmax(0, 1fr) !important;
    grid-template-columns: minmax(0, 1fr) auto !important;
}

.line-end-tabbed-pane>.button-container,
.line-end-wrap-tabbed-pane>.button-container,
.line-end-scroll-tabbed-pane>.button-container {
    grid-row: 1 !important;
    grid-column: 2 !important;
}

.line-end-tabbed-pane>.tab-container,
.line-end-wrap-tabbed-pane>.tab-container,
.line-end-scroll-tabbed-pane>.tab-container {
    grid-row: 2 !important;
    grid-column: 2 !important;
}

.line-end-tabbed-pane>.card-container,
.line-end-wrap-tabbed-pane>.card-container,
.line-end-scroll-tabbed-pane>.card-container {
    grid-row: 1 / -1 !important;
    grid-column: 1 !important;
}

.tab-container {
    gap: 1px;
    background-color: whitesmoke;
}

.tabbed-pane>.tab-container,
.wrap-tabbed-pane>.tab-container,
.page-start-tabbed-pane>.tab-container,
.page-start-wrap-tabbed-pane>.tab-container {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    align-content: end !important;
    justify-content: start !important;
    align-items: end !important;
}

.page-end-tabbed-pane>.tab-container,
.page-end-wrap-tabbed-pane>.tab-container {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap-reverse !important;
    align-content: start !important;
    justify-content: start !important;
    align-items: start !important;
}

.line-start-tabbed-pane>.tab-container,
.line-start-wrap-tabbed-pane>.tab-container {
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
    align-content: start !important;
    justify-content: end !important;
    justify-items: end !important;
}

.line-end-tabbed-pane>.tab-container,
.line-end-wrap-tabbed-pane>.tab-container {
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap-reverse !important;
    align-content: start !important;
    justify-content: start !important;
    justify-items: start !important;
}

.scroll-tabbed-pane>.tab-container,
.page-start-scroll-tabbed-pane>.tab-container {
    display: grid !important;
    justify-content: start !important;
    align-items: end !important;
}

.page-end-scroll-tabbed-pane>.tab-container {
    display: grid !important;
    justify-content: start !important;
    align-items: start !important;
}

.line-start-scroll-tabbed-pane>.tab-container {
    display: grid !important;
    align-content: start !important;
    justify-items: end !important;
}

.line-end-scroll-tabbed-pane>.tab-container {
    display: grid !important;
    align-content: start !important;
    justify-items: start !important;
}

.tab-component {
    user-select: none !important;
    cursor: pointer;
    background-color: rgba(128, 128, 128, .25);
}

.tab-component.selected {
    background-color: white;
}

.tabbed-pane>.tab-container>.tab-component,
.wrap-tabbed-pane>.tab-container>.tab-component,
.page-start-tabbed-pane>.tab-container>.tab-component,
.page-start-wrap-tabbed-pane>.tab-container>.tab-component,
.page-end-tabbed-pane>.tab-container>.tab-component,
.page-end-wrap-tabbed-pane>.tab-container>.tab-component,
.line-start-tabbed-pane>.tab-container>.tab-component,
.line-start-wrap-tabbed-pane>.tab-container>.tab-component,
.line-end-tabbed-pane>.tab-container>.tab-component,
.line-end-wrap-tabbed-pane>.tab-container>.tab-component {
    flex-shrink: 0 !important;
}

.scroll-tabbed-pane>.tab-container>.tab-component,
.page-start-scroll-tabbed-pane>.tab-container>.tab-component {
    grid-row: 1 !important;
    grid-column: auto !important;
}

.page-end-scroll-tabbed-pane>.tab-container>.tab-component {
    grid-row: 1 !important;
    grid-column: auto !important;
}

.line-start-scroll-tabbed-pane>.tab-container>.tab-component {
    grid-row: auto !important;
    grid-column: 1 !important;
}

.line-end-scroll-tabbed-pane>.tab-container>.tab-component {
    grid-row: auto !important;
    grid-column: 1 !important;
}

.tab-component .tab-close.material-icons::after {
    content: "close";
    color: gray;
}

.tab-component .tab-close.material-icons:hover::after {
    color: red;
}

/*
 * close button only if tab is selected
  .tab-component:not(.selected) .tab-close.material-icons::after,
  .tab-component:not(.selected) .tab-close.material-icons::before {
      content: "";
  }
 */

.button-container button {
    border: none;
    background: none;
}

/**
 * Table
 */

table {
    border-collapse: collapse !important;
    white-space: nowrap;
    background-color: white;
}

thead {
    position: sticky !important;
    inset-block-start: 0 !important;
    background-color: inherit;
}

thead>tr>th {
    padding: 0px;
}

thead>tr>th>.border {
    border-block-end: 1px solid gray;
    padding: 1px;
}

tbody>tr:not(:first-child):not(:last-child) {
    border-block: 1px solid gray;
}

th:not(:first-child):not(:last-child),
td:not(:first-child):not(:last-child) {
    border-inline: 1px solid gray;
}

table.row-header>thead>tr>th:first-child,
table.row-header>tbody>tr>td:first-child {
    border-inline-end: 1px solid gray;
}

/**
 * Tree
 */

.tree {
    user-select: none;
}

.tree,
.tree ul {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
}

.tree ul {
    display: none !important;
}

.tree li.open>ul {
    display: block !important;
}

.tree .tree-node {
    display: grid !important;
    justify-content: start !important;
    align-items: center;
    gap: 5px;
    padding-inline-end: 5px;
}

.tree .tree-node>* {
    grid-row: 1 !important;
}

.tree .tree-node-icon.material-icons::before {
    content: "insert_drive_file";
    color: gray;
}

.tree li.closed>.tree-node-icon.material-icons::before,
.tree li.closed>:not(ul) .tree-node-icon.material-icons::before {
    content: "keyboard_arrow_right";
}

.tree li.open>.tree-node-icon.material-icons::before,
.tree li.open>:not(ul) .tree-node-icon.material-icons::before {
    content: "keyboard_arrow_down";
}

.tree li.selected>:not(ul) {
    background-color: rgba(128, 128, 255, .25);
}

.tree li>:not(ul):hover {
    background-color: rgba(128, 128, 128, .25);
}